.navbar>.container,
.navbar>.container-fluid {
	display: block;
}
.container-fluid {
	width: 92%;
	margin: auto;
}
.form-inline {
	display: inline-flex;
}
.navbar {
	/*height: 53px;*/
	background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    font-family: 'Fira Sans', sans-serif;
}
#navbar-search {
	border: 1px solid #C4C4C4;
    border-radius: 4px;
    font-size: 16px;
	line-height: 19px;
	color: #BDBDBD;
}
#navbar-search .input-group{
	width: 350px;
}
#navbar-search .input-group-prepend {
	background: #F1F1F1;
    border-radius: 4px;
    border-right: 1px solid #C4C4C4;
}
.message-div {
	/*position: absolute;*/
	position: relative;
}
.message-count {
	width: 17px;
    height: 17px;
    border-radius: 50%;
	position: absolute;
    top: -6px;
    left: 10px;
    background: #27A9F8;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    font-size: 10px;
	line-height: 12px;
	color: #FAFAFA;
	text-align: center;
    padding-top: 4px;
    font-family: 'Lato', sans-serif;
}
.m-10 {
	margin-top: 10px;
}
.nav-link {
	padding: 0;
}
#profile-dropdown a,
.postdiv .form-check-input,
.postdiv .form-check-label,
.input-group-prepend i,
.dropdown-header,
.political-holder h5,
.dropdown-toggle.filter-dropdown span,
#detailsModal h5,
.political-holder h6,
.postdiv .messages-list p b,
.messenger-details p b {
	color: #333;
}
#activity-div {
	background: #E9EBEE;
}
.pt-20 {
	padding-top: 20px;
}
#profile-background {
	background: url(./../images/profile-background.png);
	padding-top: 30px;
	/* height: 84px; */
	text-align: center;
	background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
/*#profile-background img {
	position: relative;
    top: 38px;
}*/
.mt-45 {
	margin-top: 45px;
}
.profilename-div {
	background: #FFFFFF;
	border: 1px solid #F1F1F1;
	border-top: none;
	border-radius: 4px;
	padding-top: 45px;
    margin-top: -45px;
}
.profile-name {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #333;
}
.leaders-div {
	font-size: 16px;
	line-height: 21px;
	color: #27A9F8;
}
.leaders-div h6,
#shortcuts {
    font-weight: bold;
}
.leaders-div p {
	margin-top: -5px;
}
.trendingdiv {
	margin-bottom: 60px;
}
.profilenamediv,
.postdiv,
.peoplediv,
.trendingdiv {
	background: #FFFFFF;
	border: 1px solid #F1F1F1;
	border-radius: 4px;
	padding: 10px;
	margin-top: 5px;
}
a.shortcuts-sample {
	display: block;
}
a.shortcuts-sample:hover {
	text-decoration: none;
}
.shortcuts-sample p {
	width: 24px;
    height: 24px;
    background: #27A9F8;
    border-radius: 50%;
    display: inline-flex;
}
.shortcuts-sample span {
	display: inline-flex;
	position: relative;
	/* top: -6px; */
	top: -22px;
	color: #333333;
	font-weight: normal;
}
#shortcut-two {
	background: #034D79;
}
#shortcut-three {
	background: #4F4F4F;
}
#shortcut-four {
	background: #90A4AE;
}
#footer p,
#footer p a,
.messagecontent .time,
.messagecontent .content {
	font-size: 12px;
    letter-spacing: 0.03em;
    color: #333;
}
.bold {
    font-weight: bold;
}
#footer hr {
	border: 1px dashed #C4C4C4;
}
#advertise {
	font-weight: 500;
    font-size: 13px;
    margin-bottom: 0;
}
.postdiv,
.friends-div {
	border-radius: 0;
    border: 1px solid #F0F0F0;
    padding: 15px;
}
#postcontent-div,
.makecomments-div {
	display: -webkit-box;
}
#postcontent-div textarea,
.makecomments-div textarea {	
	width: 90%;
    margin-left: 10px;
}
#post-div .badge {
	background: #F1F1F1;
    border: 1px solid #F0F0F0;
    border-radius: 4444px;
    font-size: 16px;
    color: #4F4F4F;
    font-weight: normal;
    padding: 7px 10px;
}
.pb-15 {
	padding-bottom: 15px;
}
.postdiv h5 {
	font-weight: 800;
	margin-bottom: 0;
}
.ml-10 {
	margin-left: 10px;
}
.postdiv .sponsored {
	font-weight: normal;
	color: #8D8D8D;
	/*margin-top: -10px;*/
}
.friendspost p,
.comments-div a,
.peoplediv h6,
#postcontent-div .trending-name,
#post-div form label,
#post-div form input,
#post-div form select,
#post-div .friends,
.friends-div h5,
.postdiv .friends-div p,
.postdiv .notification-comment p,
.privacy-details p,
.panel-heading a,
.petition-to,
.progress-bar,
#detailsModal p {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #333;
}
.postpicture-div {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 20px;
}
.comments-div {
	background: #F1F1F1;
    border-radius: 0px 0px 4px 4px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px;
    padding-bottom: 15px;
}
.comments-div a:hover {
	text-decoration: none;
}
.comments-div .dropdown-toggle::after,
#morefriends.dropdown-toggle::after,
.postdiv .friends-div .btn.btn-primary.btn-message.dropdown-toggle::after,
.message-div.nav-link.dropdown-toggle::after {
	content: none;
}
.comments-div .dropdown-item,
.friends-div .dropdown-item,
.dropdown-item,
.contact-info h5,
.contact-info p,
#editprofileModal label,
#editprofileModal .form-control,
#upgradeModal p,
#upgradeModal .form-control,
#upgradeModal #checkbox,
.political-position,
.search .results a {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.03em;
	color: #4F4F4F;
}
.comments-div .dropdown-menu {
	border: 1px solid #F0F0F0;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.13);
	border-radius: 4px;
}
.comments-div .dropdown-item:hover,
.comments-div .dropdown-item:active,
.friends-div .dropdown-item:active,
.friends-div .dropdown-item:hover,
.friends-div .dropdown-item:focus
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover  {
	background: #27A9F8;
	color: #fff;
}
.post-time {
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #8D8D8D;
}
.mb--15 {
	margin-bottom: -15px;
}
.makecomments-div {
	padding: 15px 0;
}
.makecomments-div textarea {
    height: 45px;
}
.commentersdiv {
    background: #F7F7F7;
    border: 1px solid #F0F0F0;
    padding: 15px;
    margin-right: -15px;
    margin-left: -15px;
}
.commentersdiv p,
.economy {
	font-size: 16px;
    color: #4F4F4F;
}
.commentersdiv span {
    font-size: 16px;
    color: #828282;
}
.commenter-name {
	margin-top: 5px;
    margin-bottom: 15px;
}
.peoplediv {
	padding-bottom: 20px;
}
.peoplediv h5,
.peoplediv p {
	margin-left: 2px;
}
.peoplediv h5 {
	font-size: 14px;
    letter-spacing: 0.03em;
    color: #27A9F8;
}
.peoplediv p {
	font-size: 12px;
    letter-spacing: 0.03em;
    color: #8D8D8D;
    margin-top: -10px;
}
.btn.btn-info.btn-add {
	background: #00B0F0;
    border-radius: 4px;
    font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	margin-left: 4px;
}
.btn.btn-remove {
	background: #F1F1F1;
	border: 1px solid #6D6D6D;
	border-radius: 4px;
	font-weight: 500;
	font-size: 12px;
	line-height: 14px;
	color: #333333;
	margin-left: 3px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px dashed #C4C4C4;
	padding-top: 20px;
    margin-bottom: -10px;
}
/* .flex-item {

} */
.more {
	position: relative;
    top: 10px;
    font-weight: 500;
	font-size: 14px;
	color: #27A9F8;
}
.mgt-5 {
	margin-top: 5px;
}
.trending-topic,
.postdiv .form-check-input,
.postdiv .form-check-label,
a.viewmore,
.political-holder h5 {
	font-size: 14px;
}
.comments-div.trending-like {
	background: transparent;
	margin-top: -20px;
}
.ml-60 {
	margin-left: 60px;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: 590px;
		margin: 1.75rem auto;
	}
}
.modal {
	top: 30px;
}
.modal-header {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 0;
}
.modal-body {
	padding: 0;
}
.postdiv form {
	clear: both;
    position: relative;
    top: -30px;
}
.postdiv .form-check-label {
    border: 1px solid #BDBDBD;
    padding: 4px;
	border-radius: 4px;
	margin-bottom: 5px;
}
a.removepoll, 
.politicalholder {
	font-size: 14px;
	color: #27A9F8;
}
a.removepoll.addachoice {
	margin-left: 20px;
}
.modal-header select {
	height: 32px!important;
	padding-top: 3px;
	font-size: 14px;
    color: #4f4f4f;
}
.modal-header select option:hover {
    background: #27A9F8;
	color: #fff;
	padding: 10px;
}
#pollModal .modal-title {
	margin-top: -5px;
}
.modal-header .form-group {
	margin-bottom: 0;
}
/* .pollselect-div {
	margin-top: -40px
} */
.pollselect-div select {
	height: 30px!important;
	border: 1px solid #BDBDBD;
	border-radius: 3px;
	font-size: 14px;
	color: #333;
	display: inline-block;
	width: auto;
	padding: 5px 3px;
}
.btn.btn-info.btn-post {
	padding-left: 25px;
    padding-right: 25px;
}
#post-div form label,
.contact-info p,
#upgradeModal label,
.political-position {
    font-weight: 500;
}
#post-div form input,
#post-div form select  {
    color: #8C8B8B;
}
/* footer */
footer {
	background: #FAFAFA;
	color: #333;
	font-size: 14px;
	padding-top: 15px; 
}
footer a,
#post-div #petiton-div span {
	font-weight: 500;
	font-size: 16px;
	margin-left: 10px;
	color: #333;
	line-height: 21px;
}


/* friends.html */
.friendsearch {
    border-bottom: 1px solid #F0F0F0;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 0;
    border-top: none;
}
#post-div .friends {
    margin-top: 7px;
}
.postdiv .friends-div h5,
.postdiv .friends-div p {
	font-weight: 600;
}
.postdiv .friends-div p {
	color: #6d6d6d;
}
.postdiv .friends-div .btn.btn-primary.btn-message {
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #00B0F0;
	border-radius: 4px;
	font-weight: 500;
	font-size: 14px;
	color: #00B0F0;
	padding-top: 4px;
    margin-top: 5px;
}
.p-2 {
	padding: 0!important;
    padding-right: .5rem!important;
}
#morefriends {
	background: transparent;
	border: none;
}
.friends-div {
	padding: 10px 15px 0 15px;
	margin-bottom: 5px;
}
.mt-8 {
	margin-top: 8px;
}
.viewmore-cover {
	border-top: 1px solid #F0F0F0;
}
a.viewmore {
	color: #000;
	position: relative;
	top: 10px;
	text-decoration: none;
}
.mt-10 {
    margin-top: 10px;
}
a:hover {
	text-decoration: none;
}

/* notification page */
.postdiv .notification-comment {
	border-bottom: 1px solid #F0F0F0;
	margin-right: -15px;
	margin-left: -15px;
	padding: 15px;
}
.mgt-5 {
	margin-top: 5px;
}

/* privacy page */
.privacy-div {
	background: linear-gradient(33.13deg, #27A9F8 9.78%, #0A8CBB 83.29%);
	font-weight: 500;
	font-size: 36px;
	letter-spacing: 0.03em;
	text-transform: capitalize;
	color: #FFF;
	padding: 60px 40px;
	text-align: center;
} 
section {
	background: #e5e5e5;
}
.privacy-details {
	padding: 60px 60px 120px 60px;
}

/* 404 page */
.privacy-details h5 {
	font-weight: 800;
	font-size: 150px;
	line-height: 180px;
	color: #4F4F4F;
}
.privacy-details h6 {
	font-size: 45px;
	line-height: 54px;
	color: #333333;
	margin-top: -25px;
	margin-bottom: 10px;
}

/* FAQ */ 
.panel {
	border: 1px solid #BDBDBD;
}
.panel-heading {
	background: #F2F2F2;
	padding: 5px 30px;
}
.panel-heading a {
	display: block;
	padding-top: 5px;
}
.panel-heading a i {
	float: right;
    margin-top: 3px;
}
.panel-body {
	background: #F2F2F2;
	padding: 20px 30px 5px 30px;
}
.panel-heading:hover,
.panel-heading:active,
.panel-heading.heading:hover,
.panel-heading.heading:active {
	background: #27A9F8;
}
.panel-heading:hover a,
.panel-heading:active a {
	/* font-weight: bold;
    font-size: 18px; */
	color: #FFF;
}
.panel-heading.heading {
	background: #fff;
}
.privacy-details h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 35px;
	letter-spacing: 0.03em;
	color: #27A9F8;
}

/* petition page */
.profilenamediv .flex-container,
.pt-10 {
	padding-top: 10px;
}
.political-holder {
	margin-left: 10px;
}
.political-holder h6 {
	margin-top: 5px;
    margin-bottom: 0;
}
.political-holder p {
	font-size: 12px;
    line-height: 14px;
	color: #646464;
}
#post-div #petiton-div span {
	margin-left: 0;
}
.fairly-bold {
	font-weight: 600;
}
.btn.btn-info.btn-sign {
	background: #27A9F8;
	border-color: #27A9F8;
	font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.dropdown-toggle.filter-dropdown::after {
	content: none;
}
#post-div.filterdropdown-div {
	padding-bottom: 20px;
}
.pb-20 {
	padding-bottom: 20px;
}
.message-content {
	margin-top: -15px;
}

/* polls page */
.poll-progress-div {
	width: 50%;
}
.progress {
	height: 35px;
    background: #fff;
    border-radius: 4px;
	margin-bottom: 10px;
}
.progress-bar {
	text-align: left;
	padding-left: 20px;
}
.yes-progress {
    border: 1px solid #27A9F8;
}
.yes-progressbar {
	background: #27A9F8;
}
.mgt-5 {
	margin-top: 5px;
}
.no-progress {
	border: 1px solid #bdbdbd;
}
.no-progressbar {
	background: #bdbdbd;
}
.transparent-progressbar {
	background: transparent;
}

/* profile page */
.political-dropdown,
.btn.btn-info.btn-upgrade,
.btn.btn-info.btn-editprofile {
	font-size: 16px;
	line-height: 21px;
	font-weight: 500;
	border-radius: 4px;
	align-items: center;
}
.political-dropdown,
.btn.btn-info.btn-editprofile {
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #00B0F0;
	color: #00B0F0;
}
.political-dropdown {
	display: initial;
	padding: 8px;
	margin-right: 5px;
	position: relative;
    top: 3px;
}
.btn.btn-info.btn-upgrade {
	background: #27A9F8;
	border: 1px solid #00B0F0;
	color: #FFF;
}
.contact-info,
.mt-40 {
	margin-top: 40px;
}
.contact-info,
.contact-dotted {
	padding-bottom: 10px;
} 
.contact-info h5,
.politicalholder {
	font-weight: 500;
	color: #034D79;
}
.contact-info p {
	margin-bottom: 0;
}
.contact-dotted {
	border-left: 1px dotted #C4C4C4;
    padding-left: 35px;
} 
.politicaloffice-holder {
	background: #F2F2F2;
	padding: 15px;
	padding-left: 33px;
}
.political-office-holder {
	display: flex;
	flex-flow: row wrap;
}
.political-office-holder div {
	flex: 1;
}
.political-holder h6 {
	font-size: 12px;
	line-height: 14px;
}
.political-office-holder p {
	font-size: 10px;
	line-height: 12px;
}
#detailsModal .modal-dialog {
	max-width: 850px;
}
#detailsModal .modal-body {
	padding: 50px 70px;
}
#detailsModal h5,
#upgradeModal h5 {
	font-weight: bold;
	font-size: 40px;
	line-height: 48px;
	text-transform: capitalize;
}
#detailsModal h5 {
	margin-bottom: 30px;
}
#editprofileModal .modal-header {
    display: block;
    border-bottom: none;
	padding: 0;
}
#editprofileModal #profile-background {
    text-align: left;
    padding-left: 50px;
}
#editprofileModal .profilename-div {
	border: 0;
    margin-bottom: 40px;
    position: relative;
    top: 50px;
}
#editprofileModal .profile-edit {
	position: absolute;
    top: 15px;
    right: 15px;
}
#editprofileModal .edit-picture {
	position: relative;
    top: 25px;
    left: -35px;
}
#editprofileModal .modal-body {
	padding: 20px 60px;
} 
#editprofileModal button,
#upgradeModal button {
	font-size: 16px;
    line-height: 19px;
    margin-left: 0;
}
#upgradeModal .modal-body {
	padding: 20px 80px;
}
#upgradeModal p,
#upgradeModal #checkbox {
	color: #333;
}
#upgradeModal textarea {
	height: 100px;
}
#upgradeModal button {
	font-weight: bold;
	width: 100%;
	text-transform: uppercase;
	border: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
#upgradeModal #checkbox {
	margin-bottom: 10px;
}
#upgradeModal #checkbox input[type=checkbox] {
	display: block;
	margin-top: 3px;
}
#successfulModal .modal-body {
	padding: 70px;
}
#successfulModal p {
	font-weight: bold;
	font-size: 36px;
	line-height: 48px;
	text-align: center;
	letter-spacing: 0.03em;
}
.pdtop-15 {
	padding-top: 15px;
}
.political-position {
	color: #646464;
	margin-top: -15px;
}

/* aide post */
#aide-check {
	padding-left: 4.5rem;
	margin-top: 5px;
	margin-bottom: -10px;
}
#aide-check label {
    border: none;
    padding: 0;
}
#aide-check input[type=checkbox] {
    display: block;
}
.mt-15 {
    margin-top: 15px;
}
.search .results {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    border-radius: 3px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
}
.search .results li:first-child:before {
    border-bottom: 5px solid #c4c7d7;
    top: -11px;
}

.search .results li:first-child:after {
    border-bottom: 5px solid #fdfdfd;
    top: -10px;
}
.search .results a {
    display: block;
    padding: 6px 40px 6px 10px;
    border: 1px solid transparent;
	border-radius: 3px;
	font-weight: bold;
	color: #333333;
}
.search .results a.search-item:hover {
	background: #00B0F0;
	color: #fff;
}
.search .results a.viewmore {
	top: 6px;
	font-weight: 500;
}

/* messages page */
.postdiv form#navbar-search {
	position: static;
	margin-top: 10px;
	margin-bottom: 10px;
}
.postdiv form#navbar-search .input-group {
	width: auto;
}
.postdiv form#navbar-search .input-group-text {
	background: #f1f1f1;
}
.messages-list,
.white-messages-list,
.postdiv .messenger-details {
	margin-right: -15px;
    margin-left: -15px;
	padding: 0 20px;
}
.messages-list {
    background: #E8F6FB;
}
.messages-list a {
	padding: 10px 0 0 0;
}
.white-messages-list a:hover {
	background: none;
	color: inherit;
}
.messages-list a:hover {
	background: transparent;
	color: initial;
}
.postdiv .messages-list .message-content,
.messenger-details .message-content,
.messagecontent .time {
	color: #686363;
}
.postdiv .messenger-details {
	margin-top: -8px;
	border-bottom: 1px solid #F0F0F0;
}
.message-timing {
	width: 18px;
	height: 18px;
	background: #09526D;
	border-radius: 3px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.03em;
	color: #FFF;
	text-align: center;
	float: right;
    text-align: center;
	padding-top: 1px;
	margin-top: -10px;
}
.mb-6 {
	margin-bottom: 6px;
}
.mt-12 {
	margin-top: 12px;
}
.messagecontent {
	padding: 20px 0;
}
.messagecontent .sender {
	clear: both;
}
.sender .content,
.receiver .content {
    border-radius: 6px;
	padding: 2px 10px;
}
.sender .content {
	background: #E1E1E1;
	margin: 3px 0 3px 7px;
}
.receiver .content {
	background: #DBEDF4;
	margin: 3px 15px 3px 0;
}
.receiver .content-wrapper {
	width: 50%;
    float: right;
}
.clearfix {
	clear: both;
}